<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CoreBuilder Panel</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>
                <i class="fa-solid fa-gauge me-2"></i> Dashboard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sites">
                <i class="fa-solid fa-globe me-2"></i> Site Yönetimi
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pages">
                <i class="fa-solid fa-file-lines me-2"></i> Sayfalar
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="announcements">
                <i class="fa-solid fa-bullhorn me-2 text-warning"></i> Duyuru & Haber
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin/on-kayitlar">
                <i class="fa-solid fa-clipboard-list me-2 text-info"></i> Ön Kayýtlar
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin/mesajlar">
                <i class="fa-solid fa-envelope me-2 text-warning"></i> Mesaj Kutusu
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <i class="fa-solid fa-gear me-2"></i> Sistem Ayarlarý
            </NavLink>
        </div>
    </nav>
</div>